# Building a Regression Model using Keras

### Data cleaning and Preprocessing

Importing Libraries

In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv("concrete_data.csv")

#let's show the dataframe
df.head()

   Cement  Blast Furnace Slag  Fly Ash  ...  Fine Aggregate  Age  Strength
0   540.0                 0.0      0.0  ...           676.0   28     79.99
1   540.0                 0.0      0.0  ...           676.0   28     61.89
2   332.5               142.5      0.0  ...           594.0  270     40.27
3   332.5               142.5      0.0  ...           594.0  365     41.05
4   198.6               132.4      0.0  ...           825.5  360     44.30

[5 rows x 9 columns]

Checking dimensions of data

In [5]:
df.shape

(1030, 9)

let's see satestical summary of the data

In [6]:
df.describe()

            Cement  Blast Furnace Slag  ...          Age     Strength
count  1030.000000         1030.000000  ...  1030.000000  1030.000000
mean    281.167864           73.895825  ...    45.662136    35.817961
std     104.506364           86.279342  ...    63.169912    16.705742
min     102.000000            0.000000  ...     1.000000     2.330000
25%     192.375000            0.000000  ...     7.000000    23.710000
50%     272.900000           22.000000  ...    28.000000    34.445000
75%     350.000000          142.950000  ...    56.000000    46.135000
max     540.000000          359.400000  ...   365.000000    82.600000

[8 rows x 9 columns]

Checking for null values

In [7]:
df.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

This shows there are no null values in the dataframe. Now let's seprate columns for predictors and target
dataframes.

In [8]:
predict_columns = df.columns
x_data = df[predict_columns[df.columns != 'Strength']]

#let's see the predict data
x_data.head()

   Cement  Blast Furnace Slag  Fly Ash  ...  Coarse Aggregate  Fine Aggregate  Age
0   540.0                 0.0      0.0  ...            1040.0           676.0   28
1   540.0                 0.0      0.0  ...            1055.0           676.0   28
2   332.5               142.5      0.0  ...             932.0           594.0  270
3   332.5               142.5      0.0  ...             932.0           594.0  365
4   198.6               132.4      0.0  ...             978.4           825.5  360

[5 rows x 8 columns]

In [9]:
y_data = df['Strength']

y_data.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

### Normalizing Data

In [10]:
import math
#col = x_data.columns


for i,col in enumerate(x_data.columns):
    col_mean = x_data[col].sum()/x_data[col].shape[0]
    col_std = math.sqrt(pow((x_data[[col]]- col_mean),2).sum()/x_data[[col]].shape[0])
    print(i+1,"col : ",col,col_mean)
    x_data[col] = (x_data[col] - col_mean)/col_std
x_data.head()

1 col :  Cement 281.16786407766995
2 col :  Blast Furnace Slag 73.89582524271846
3 col :  Fly Ash 54.18834951456311
4 col :  Water 181.56728155339806
5 col :  Superplasticizer 6.204660194174758
6 col :  Coarse Aggregate 972.9189320388349
7 col :  Fine Aggregate 773.5804854368932
8 col :  Age 45.662135922330094

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

     Cement  Blast Furnace Slag  ...  Fine Aggregate       Age
0  2.477915           -0.856888  ...       -1.217670 -0.279733
1  2.477915           -0.856888  ...       -1.217670 -0.279733
2  0.491425            0.795526  ...       -2.240917  3.553066
3  0.491425            0.795526  ...       -2.240917  5.057677
4 -0.790459            0.678408  ...        0.647884  4.978487

[5 rows x 8 columns]

Now the x and y data is ready let's split the data into training and testing data. For this we will use train_test_split of sci-kit learn module

In [11]:
#importing the module
from sklearn.model_selection import train_test_split

def data_split(x_data,y_data):
    x_train, x_test, y_train, y_test = train_test_split(x_data,y_data, test_size = 0.3, random_state = 1)
    return (x_train,x_test,y_train,y_test)
#let's see the shape of training and testing data
#print("training data: ",x_train.shape, y_train.shape)
#print("testing data: ",x_test.shape,y_test.shape)

### Building the Model

Importing Keras module

In [12]:
import keras

In [13]:
#importing functions
from keras.models import Sequential
from keras.layers import Dense
from sklearn.metrics import mean_squared_error


def reg_model():
    model = Sequential()

    n_cols = x_train.shape[1]

    model.add(Dense(10,activation ='relu', input_shape=(n_cols,)))
    model.add(Dense(10,activation ='relu'))
    model.add(Dense(10,activation ='relu'))
    model.add(Dense(1))
    model.compile(optimizer='adam',loss='mean_squared_error')
    return model

Training the model

In [14]:
x_train,x_test,y_train,y_test = data_split(x_data,y_data)
print("training data: ",x_train.shape, y_train.shape)
print("testing data: ",x_test.shape,y_test.shape)

training data:  (721, 8) (721,)
testing data:  (309, 8) (309,)

In [15]:
#With Normalized Data and 100 epochs and 3 layer each containing 10 nodes
SME = np.zeros(50)

#loop for running model 50 times
for i in range(50):
    print("model running for {} time".format(i+1))
    #spliting data
    x_train,x_test,y_train,y_test = data_split(x_data,y_data)
    #creating network model instance
    model = reg_model()
    model.fit(x_train,y_train,epochs = 100,verbose = 0)
    y_predict = model.predict(x_test)
    SME[i] = mean_squared_error(y_test,y_predict)
    print(SME[i])

SME

model running for 1 time
121.9927015619057
model running for 2 time
77.16450588766126
model running for 3 time
104.30215251015665
model running for 4 time
124.7890677257453
model running for 5 time
89.57894905028786
model running for 6 time
74.71498388854343
model running for 7 time
86.08854481872439
model running for 8 time
124.53844601508906
model running for 9 time
55.94488407536318
model running for 10 time
116.27387510855516
model running for 11 time
80.78138644357232
model running for 12 time
78.91851353691314
model running for 13 time
74.69735035854042
model running for 14 time
130.7213808448036
model running for 15 time
65.2455911383441
model running for 16 time
57.87297572337757
model running for 17 time
71.30598810700785
model running for 18 time
123.77392101769081
model running for 19 time
114.33098630193915
model running for 20 time
134.73001135344302
model running for 21 time
62.32998957737531
model running for 22 time
134.69033839557633
model running for 23 time
131.3552162076674
model running for 24 time
124.11700363628134
model running for 25 time
110.34060601358813
model running for 26 time
126.30569839071993
model running for 27 time
134.1653049931911
model running for 28 time
66.17368707785491
model running for 29 time
107.59948045446538
model running for 30 time
63.931626740850085
model running for 31 time
70.56506322080212
model running for 32 time
135.77436147658486
model running for 33 time
84.94765069632534
model running for 34 time
67.80876181973885
model running for 35 time
110.3668417759445
model running for 36 time
120.47658358937136
model running for 37 time
124.4884789352534
model running for 38 time
62.14622068052948
model running for 39 time
115.42360523362652
model running for 40 time
132.68379412158615
model running for 41 time
141.42545613808085
model running for 42 time
85.19834983589773
model running for 43 time
110.1678820974421
model running for 44 time
113.0700070143594
model running for 45 time
71.06175700246035
model running for 46 time
88.35514136919156
model running for 47 time
88.85278916405316
model running for 48 time
125.69176981079592
model running for 49 time
131.50894738218744
model running for 50 time
88.02578172730439

array([121.99270156,  77.16450589, 104.30215251, 124.78906773,
        89.57894905,  74.71498389,  86.08854482, 124.53844602,
        55.94488408, 116.27387511,  80.78138644,  78.91851354,
        74.69735036, 130.72138084,  65.24559114,  57.87297572,
        71.30598811, 123.77392102, 114.3309863 , 134.73001135,
        62.32998958, 134.6903384 , 131.35521621, 124.11700364,
       110.34060601, 126.30569839, 134.16530499,  66.17368708,
       107.59948045,  63.93162674,  70.56506322, 135.77436148,
        84.9476507 ,  67.80876182, 110.36684178, 120.47658359,
       124.48847894,  62.14622068, 115.42360523, 132.68379412,
       141.42545614,  85.19834984, 110.1678821 , 113.07000701,
        71.061757  ,  88.35514137,  88.85278916, 125.69176981,
       131.50894738,  88.02578173])

Let's find out the mean and standard deviation of the mean_squared_error

In [18]:
SME_mean = SME.sum()/SME.shape[0]
SME_mean

SME_std = np.sqrt(pow((SME -np.array(SME_mean)),2).sum()/SME.shape[0])
print("Error of Model with Normalized data and 3 layers with 10 nodes and 100 epochs\n")
print("Mean of Squared Mean Error calculated 50 times: ",SME_mean,"\nStandard Deviation of Squared Mean Error calculated 50 times: " ,SME_std)

Error of Model with Normalized data and 3 layers with 10 nodes and 100 epochs

Mean of Squared Mean Error calculated 50 times:  100.73628820093538
Standard Deviation of Squared Mean Error calculated 50 times:  26.29622097491339

# Comparizon with Part-B Conclusion

There is a significant difference between the means of the SME of Part-B(with normalization,1 layer of 10 modes and 50 epochs) and Part-D(with normalization, 3 layers of 10 nodes and 100 epochs). The value of mean in Part-D is less than the value of mean in Part-B.

There is a significant difference between the Standard Deviations of the SME of Part-B and Part-D. In Part-D, where the data is normalized the Standard deviation value is much less than the value calculated in Part-B.